HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Uploaded files
src/main/resources/static/uploads/*
!src/main/resources/static/uploads/.gitkeep

### IDE files
.idea/
*.iml

### OS files
.DS_Store
Thumbs.db